__pycache__
data
.vscode
env
.env~
static/course
static/product
*.pyc
.tmuxp.yaml
.venv
.env
.coverage
.pydevproject
.DS_Store
db
app/static
doc/*.docx
doc/*.html
doc/*.fld
coverage.xml
.ipynb_checkpoints
*.ipynb
